<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blockly C Compiler</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://unpkg.com/blockly/blockly.min.js"></script>
</head>
<body>
  <h1>Blockly to C Compiler</h1>
  <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
  <xml id="toolbox" style="display: none">
    <category name="Logic">
      <block type="controls_if"></block>
      <block type="logic_boolean"></block>
      <block type="logic_negate"></block>
      <block type="logic_operation"></block>
      <block type="logic_compare"></block>
      
    </category>
    <category name="Loops">
      <block type="controls_repeat_ext"></block>
      <block type="controls_whileUntil"></block>
      
    </category>
    <category name="Operations">
      
{% for function in functions %}
      <block type="{{function.key_name}}_block"></block>
{% endfor %}
      <!-- <block type="printf_block"></block> -->
    </category>
    <category name="Math">
      <block type="math_number"></block>
    </category>
    <category name="Text">
      <block type="text"></block>
    </category>
  </xml>

  <button id="generateBtn">Generate & Compile</button>
  <pre id="output"></pre>

  <script src="/static/js/generators_c.js"></script>
  <script>
    
{% for function in functions %}
const {{function.key_name}}Json = {
  "type": "{{function.key_name}}_block",        // ← Required!
  "message0": "{{function.display_name}} %1",
  "args0": [
    {"type": "input_value", "name": "DELTA", "check": "{{function.input_type}}"}
  ],
  "previousStatement": null,
  "nextStatement": null,
  "colour": {{function.display_color}}
};
Blockly.Blocks['{{function.key_name}}_block'] = {
  init: function() {
    this.jsonInit({{function.key_name}}Json);
  }
};


Blockly.C.forBlock['{{function.key_name}}_block'] = function(block, generator) {
  const condition = Blockly.C.valueToCode(block, 'DELTA',  Blockly.C.ORDER_NONE) || 0;
  // Atomic order is appropriate for a literal
  return '{{function.func_name}}(' + condition.replace(/(\r\n|\n|\r)/gm,"") + ');';
};

{% endfor %}
  </script>
  <script src="/static/js/blockly_app.js"></script>
</body>
</html>